html, body, h1, h2, h3, p, a {
    font-family: 'Raleway', sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
}

/*HEADER*/

.header-background-img img {
    width: 100%;
    height: 100%;
}
.header {
    margin: 0;
    display: flex;
    width: 100%;
    height: 300px;
    background-image: url("img/frost.jpg");
    background-size: cover;
}
.name {
    margin: 0;
    width: 100px;
}
.name h1 {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 40px;
    margin: 0 auto;
    color: #333;
}

/*SKILLS*/

.skill-logos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding-bottom: 20px;
  padding-top: 20px;
}

.img-div {
  margin: 0;
  padding: 5px;
  width: 120px;
  height: 120px;
}

.skill-logos .img-div img {
  width: 100%;
  height: 100%;
  margin: 0;
}


/*DEV PROJECTS*/

.project-img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.project-img img {
    margin: 0;
    width: 100%;
    height: 100%;
}

.projects-content a {
  text-decoration: none;
  color: purple;
}

.janet-content {
  padding-top: 20px;
  padding-bottom: 20px;
}
.trextr-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*ACCORDION*/

.accordion {
    width: 100%;
}

.accordion button {
  text-align: center;
}

button.accordion-segment {
  color: white;
  cursor: pointer;
  padding: 30px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 18px;
}
#about-button {
  background-color: #fa7616;
}
#skills-button {
  background-color: #1accbc;
}
#projects-button {
  background-color: #b50e4f;
}
button.accordion-segment#about-button.active, button.accordion-segment#about-button:hover{
  background-color: #ddd;
  color: #404040;
}

button.accordion-segment#skills-button.active, button.accordion-segment#skills-button:hover{
  background-color: #ddd;
  color: #404040;
}

button.accordion-segment#projects-button.active, button.accordion-segment#projects-button:hover{
  background-color: #ddd;
  color: #404040;
}

.panel {
  text-align: center;
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: 0.6s ease-in-out;
  opacity: 0;
}

.panel.show {
  opacity: 1;
  max-height: 100%;
}

/*FOOTER*/

.footer-contact {
  width: 100%;
  height: 100px;
  margin: 0;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-contact i {
  padding-left: 4px;
  padding-right: 4px;
  font-size: 40px;
  color: black;
}

.footer-contact a {
  text-decoration: none;
  color: #333;
  padding-bottom: 40px;
}

@media (min-width: 430px) {
  p, a {
    font-size: 20px;
  }
  .header {
    height: 600px;
  }
  .name h1 {
    padding-top: 60px;
    padding-left: 60px;
  }
  .img-div {
    width: 200px;
    height: 200px;
  }
  .panel p {
    padding-left: 10px;
    padding-right: 10px;
  }

}

@media (min-width: 1020px) {
  p, a {
    font-size: 24px;
  }
  .header {
    height: 800px;
  }
  .name h1 {
    padding-top: 80px;
    padding-left: 80px;
  }
  .img-div {
    width: 260px;
    height: 260px;
  }
  .panel p {
    padding-left: 30px;
    padding-right: 30px;
  }
  button.accordion-segment{
    height: 160px;
    font-size: 36px;;
  }
}

@media (min-width: 1420px) {
  .header {
    height: 1000px;
  }
  .name h1 {
    font-size: 80px;
    padding-top: 120px;
    padding-left: 120px;
  }
  button.accordion-segment{
    height: 160px;
    font-size: 36px;
  }
}
